# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
*.log

# If you use virtualenv:
venv/
env/
ENV/

# Secret files
.env

# Static and media files
staticfiles/
media/

# OS files
.DS_Store
Thumbs.db